#
# Maven
#
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties
snapshot/
gh-pages/
apidocs/

#
# Eclipse
#
**/.project
**/.classpath
**/.checkstyle
**/.settings/
**/.pmd
**/.ruleset
**/.pmdruleset.xml

#
# General
#
**/.*.swp
**/*.old
**/*.old?

