# default to binary
* binary

# Java source
*.java          text diff=java eol=lf

# HTML, CSS, etc
*.css           text diff=css eol=lf
*.htm           text diff=html eol=lf
*.html          text diff=html eol=lf
*.js            text eol=lf

# General text
*.properties    text eol=lf
*.xml           text eol=lf
*.md            text eol=lf
.gitattributes  text eol=lf
.ignore         text eol=lf
